@tailwind base;
@tailwind components;
@tailwind utilities;

:root {
    --accent: #66bb88;
    --accent-secondary: #1F3A5F;
}


.header {
    font-weight: bold;
    font-size: x-large;
    margin-bottom: 10px;

}

.accent {
    border-color: var(--accent)
}

.contact-icon:active {
    color: var(--accent-secondary)
}

.contact-icon:hover {
    color: var(--accent-secondary)
}


.selected-view {
    border-bottom: 2px solid var(--accent);
    font-weight: 500;
    background-color: #f4f4f5;

}

html,
body {
    margin: 0;
    padding: 0;
    width: 100%;
    overflow-x: hidden;
}

/* Custom Scrollbar */
::-webkit-scrollbar {
    width: 10px;
}

::-webkit-scrollbar-track {
    background: transparent;
}

::-webkit-scrollbar-thumb {
    background: var(--accent-secondary);
    border-radius: 5px;
}

/* Firefox */
* {
    scrollbar-color: var(--accent-secondary) transparent;
    scrollbar-width: thin;
}

/* Utility Classes */
.card {
    @apply border-2 border-accent-secondary rounded-lg shadow-sm bg-white;
}

.card-hover {
    @apply hover:bg-accent/40 hover:border-accent;
}

.heading-text {
    @apply font-roboto font-bold;
}

.blog-card{
    @apply rounded-none max-w-sm;
}